@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  height: 100vh;
  width: 100vw;
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

header {
  margin-left: auto;
  margin-right: auto;
  font-size: 5vw;
  text-align: center;
}

section {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#link {
  color: blue;
  text-decoration: underline;
}
